.wrapper_about {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .container_about {
    width: 80%;
    .intro {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 100px;
        grid-template-areas: "text img""arrow arrow";
        margin-bottom: 50px;
        margin-top: 50px;
        
        .text {
            width: 100%;
            grid-area: text;
            h1 {
                width: 100%;
                height: 50px;
                color: #313131;
                font-size: 2em;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
            }
            p {
                font-family: 'Roboto', sans-serif;
            }
            .skills {
                font-family: 'Roboto', sans-serif;
                color: white;
                h3 {
                    color: #313131;
                    margin-bottom: 0;
                }
                .javascript {
                    background: #083D77;
                    padding: 5px;
                    margin-bottom: 2px;
                    width: 75%;
                }
                .React {
                    background: #A62639;
                    padding: 5px;
                    margin-bottom: 2px;
                    width: 55%;
                }
                .OtherTechTools {
                    background: #279AF1;
                    padding: 5px;
                    width: 35%;
                }
                .Adobe {
                    background: #388659;
                    padding: 5px;
                    margin-bottom: 2px;
                    width: 65%;
                }
            }
        }
        img {
            display: flex;
            justify-self: flex-end;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            grid-area: img;
            align-self: center;
            border: solid black 5px;
        }
        .heartit {
            background-image: url("../Assets/002-feedback.svg");
            background-size: 40px 40px;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
        }
        /* ARROW DOWN CONTENT LANDING PAGE */
            .scroll-down {
                grid-area: arrow;
                margin-top: 5%;
                position: relative;
                left: 50%;
                bottom: 10px;
                display: block;
                font-size: 20px;
                text-decoration: none;
                text-shadow: 0;
            width: 2vw;
            height: 2vw;
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;
            z-index: 9;
            -webkit-transform: translate(-50%, 0%) rotate(45deg);
            -moz-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
                -webkit-animation: fade_move_down 4s ease-in-out infinite;
                -moz-animation:    fade_move_down 4s ease-in-out infinite;
                animation:         fade_move_down 4s ease-in-out infinite;
            }


            /*animated scroll arrow animation*/
            @-webkit-keyframes fade_move_down {
            0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
            50%  { opacity: 1;  }
            100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
            }
            @-moz-keyframes fade_move_down {
            0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
            50%  { opacity: 1;  }
            100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
            }
            @keyframes fade_move_down {
            0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
            50%  { opacity: 1;  }
            100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
            }
    }
  }
}